<% provide(:title, @problem.name) %>

<h3> <%= @problem.name %> </h3>
実行時間制限:<%= @problem.time_limit %>ms <br>
メモリ制限:<%= @problem.memory_limit %>MB <br>
得点:<%= @problem.point %> <br> <br>

<h4> 問題 </h4>
<%= @problem.statement %> <br> <br>

<% if logged_in? %>
	<%= form_for(@submission) do |f| %>
		<%= render 'shared/submission_error_messages', object: @submission %>
		<%= f.label "コード" %>
		<%= f.text_area :code, size: "20x10", class: 'form-control' %>

		<%= f.label "言語" %>
		<%= f.select :language, [
			[language_name("cpp"), "cpp"],
			[language_name("py"), "py"],
			[language_name("rb"), "rb"]
		] %>
		<%= f.hidden_field :user_id, value: session[:user_id] %>
		<%= f.hidden_field :problem_id, value: @problem.id %>

		<%= f.submit "提出", class: "btn btn-primary" %>
	<% end %>
<% end %>


