<% provide(:title, @problem.name) %>
<h1><%= @problem.name %></h1>
<div align="center">
実行時間制限: <%= @problem.time_limit %> ms <br>
メモリ制限: <%= @problem.memory_limit %> MB <br>
得点: <%= @problem.point %> <br> <br>
</div>

<h4>問題</h4>
<%= simple_format(h(@problem.statement)) %><br>

<h4>制約</h4>
<%= simple_format(h(@problem.constraint)) %><br>

<h4>入力</h4>
<p>以下の形式で与えられます。</p>
<div style="padding: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; border: 1px solid #555555;">
	<%= simple_format(h(@problem.input_desc)) %>
</div><br>

<h4>出力</h4>
<%= simple_format(h(@problem.output_desc)) %><br>


<!-- うわっ…ここの実装、ヤバすぎ…？ -->

<% if @problem.sample1i.present? %>
	<p>
	<h6>入力例1</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample1i)) %>
	</div>

	<h6>出力例1</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample1o)) %>
	</div>
	</p><br>
<% end %>

<% if @problem.sample2i.present? %>
	<p>
	<h6>入力例2</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample2i)) %>
	</div>

	<h6>出力例2</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample2o)) %>
	</div>
	</p><br>
<% end %>

<% if @problem.sample3i.present? %>
	<p>
	<h6>入力例3</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample3i)) %>
	</div>

	<h6>出力例3</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample3o)) %>
	</div>
	</p><br>
<% end %>

<% if @problem.sample4i.present? %>
	<p>
	<h6>入力例4</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample4i)) %>
	</div>

	<h6>出力例4</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample4o)) %>
	</div>
	</p><br>
<% end %>

<% if @problem.sample5i.present? %>
	<p>
	<h6>入力例5</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample5i)) %>
	</div>

	<h6>出力例5</h6>
	<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #AAAAAA;">
		<%= simple_format(h(@problem.sample5o)) %>
	</div>
	</p><br>
<% end %>


<% if logged_in? %>
<div class='row'>
	<div class='col-md-10 col-md-offset-1'>
		<%= form_for(@submission) do |f| %>
			<%= render 'shared/submission_error_messages', object: @submission %>
			<%= f.hidden_field :user_id, value: session[:user_id] %>
			<%= f.hidden_field :problem_id, value: @problem.id %>

			<div class='row'>
				<div class='col-md-1 text-center'><%= f.label '言語' %></div>
				<div class='col-md-4'><%= f.select :language, [
					[language_name("cpp"), "cpp"],
					[language_name("py"), "py"],
					[language_name("rb"), "rb"]
				] %></div>
			</div>
			<div class='row'>
				<div class='col-md-1 text-center'><%= f.label 'コード' %></div>
				<div class='col-md-11'><%= f.text_area :code, class: 'form-control', size: "20x10" %></div>
			</div>
			<%= f.submit "提出", class: "btn btn-primary col-md-2 col-md-offset-10" %>
		<% end %>
	</div>
</div>
<% end %>


