<% provide(:title, @problem.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="problem_info">

			<h3> <%= @problem.name %> </h3>
			実行時間制限:<%= @problem.time_limit %>ms <br>
			メモリ制限:<%= @problem.memory_limit %>MB <br>
			得点:<%= @problem.point %> <br> <br>

			<h4> 問題 </h4>
			<%= @problem.statement %> <br> <br>

			<%= form_for(@submission) do |f| %>
				<%= render 'shared/submission_error_messages', object: @submission %>
				<%= f.label "コード" %>
				<%= f.text_area :code, size: "20x10", class: 'form-control' %>

				<!-- とりあえずC++に限定しておく 後でプルダウンメニュー作って -->
				<%= f.hidden_field :language, value: "cpp" %>
				<%= f.hidden_field :user_id, value: session[:user_id] %>
				<%= f.hidden_field :problem_id, value: @problem.id %>

				<%= f.submit "提出", class: "btn btn-primary" %>
			<% end %>

		</section>
	</aside>
</div>

