<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>

<table class="table">
	<tr>
		<th class="col-xs-2">合計得点</th>
		<td class="col-xs-2"><%= @user.point %></td>
	</tr><tr>
		<th>解いた問題数</th>
		<td><%= @user.solved %></td>
	</tr><tr>
		<th>提出回数</th>
		<td><%= @user.submitted %></td>
	</tr><tr>
		<th>登録日時</th>
		<td><%= simple_time(@user.created_at) %></td>
	</tr>
</table>
