<% provide(:title, "##{@submission.id}") %>
<h1>提出 #<%= @submission.id %></h1>

<textarea cols="40" id="code" name="code" rows="20" readonly="readonly">
<%= @submission.code %>
</textarea>

<table class="table table-bordered">
	<% emp = (@submission.verdict=="CE" || @submission.verdict=="Pending") %>
	<tr>
		<th class="col-xs-1">提出日時</th>
		<td class="col-xs-2"><%= simple_time(@submission.created_at) %></td>
	</tr> <tr>
		<th>問題</th>
		<td><%= link_to @problem.name, @problem %></td>
	</tr> <tr>
		<th>提出ユーザー</th>
		<td><%= link_to @user.name, @user %></td>
	</tr> <tr>
		<th>判定</th>
		<td><%= image_tag "#{@submission.verdict}.png", size: "20x20" %> <%= @submission.verdict %></td>
	</tr> <tr>
		<th>得点</th>
		<td><%= @submission.verdict=="AC" ? @problem.point : 0 %></td>
	</tr> <tr>
		<th>言語</th>
		<td><%= language_name(@submission.language) %></td>
	</tr> <tr>
		<th>実行時間</th>
		<td><%= !emp ? @submission.time.to_s+"ms" : "-" %></td>
	</tr> <tr>
		<th>メモリ</th>
		<td><%= !emp ? @submission.memory.to_s+"KB" : "-" %></td>
	</tr> <tr>
		<th>コード長</th>
		<td><%= @submission.length %></td>
	</tr>
</table>

<% if @submission.verdict != "CE" %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="col-xs-4">テストケース名</th>
				<th class="col-xs-2">判定</th>
				<th class="col-xs-4">実行時間</th>
				<th class="col-xs-4">メモリ</th>
			</tr>
		</thead>
		<tbody>
			<% @results.each do |r| %>
				<tr class= <%= r.verdict=="AC" ? "success" : "danger" %> >
					<td>i<%= r.name %>.txt</td>
					<td><%= image_tag "#{r.verdict}.png", size: "20x20" %> <%= r.verdict %></td>
					<td><%= r.time %>ms</td>
					<td><%= r.memory %>KB</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
