<script>
	<% pen = @submission.verdict=='Pending' %>
	var submission_id = <%= @submission.id %>
	var testcases_count = <%= @problem.testcases_count %>
</script>

<% provide(:title, "##{@submission.id}") %>
<h1>提出 #<%= @submission.id %></h1>

<%= raw highlight_code(@submission.code, @submission.language) %>

<div id='results_view'>
<table class='table table-bordered'>
	<% emp = (@submission.verdict=='CE' || @submission.verdict=='Pending') %>
	<tr>
		<th class='col-xs-4'>提出日時</th>
		<td class='col-xs-8'><%= simple_time(@submission.created_at) %></td>
	</tr> <tr>
		<th>問題</th>
		<td><%= link_to @problem.name, @problem %></td>
	</tr> <tr>
		<th>提出ユーザー</th>
		<td><%= link_to @user.name, @user %></td>
	</tr> <tr>
		<th>判定</th>
		<td><img v-bind:src="[verdict === 'Pending' ? '/images/Pending.gif' : `/images/${verdict}.png`]" width="20" height="20"> {{ verdict }}</td>
	</tr> <tr>
		<th>得点</th>
		<td>{{ point }}</td>
	</tr> <tr>
		<th>言語</th>
		<td><%= language_name(@submission.language) %></td>
	</tr> <tr>
		<th>実行時間</th>
		<td>{{ time }} ms</td>
	</tr> <tr>
		<th>メモリ</th>
		<td>{{ memory }} KB</td>
	</tr> <tr>
		<th>コード長</th>
		<td><%= @submission.length %></td>
	</tr>
</table>


<% if @submission.verdict != 'CE' %>
	<table class='table table-bordered'>
		<thead>
			<tr>
				<th class='col-xs-4'>テストケース名</th>
				<th class='col-xs-2'>判定</th>
				<th class='col-xs-3'>実行時間</th>
				<th class='col-xs-3'>メモリ</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="result in results" v-bind:class="[result.verdict === 'AC' ? 'success' : 'danger']">
				<td>i{{ result.name }}.txt</td>
				<td><img v-bind:src=`/images/${result.verdict}.png` width="20" height="20"> {{ result.verdict }}</td>
				<td>{{ result.time }} ms</td>
				<td>{{ result.memory }} KB</td>
			</tr>
		</tbody>
	</table>
<% end %>
</div>

<%= javascript_pack_tag 'results_view' %>
